2023-01/98H01-04 - Coleta, Preparação e Análise de Dados/Trabalhos/T2/data/symbols.csv
2023-01/98H01-04 - Coleta, Preparação e Análise de Dados/Trabalhos/T2_CristianoMMartins.zip
*.jpg
*.jpg
*.png
*.jpeg
*.joblib
2023-01/98721-04 - Introdução à Visão Computacional/Trabalhos/T1/T1_CristianoMMartins.zip
*.pyc
